---
import Carousel from '@/components/ui/Carousel/Carousel.astro';

import styles from './CarouselDemo.module.css';

const api = 'https://dog.ceo/api/breed/schnauzer/miniature/images';
const response = await fetch(api);
const json = await response.json();
const dogs = json.message;
---

<div class={styles.root}>
    <Carousel items={dogs} className={styles.carousel} itemClassName={styles.item}>
        {
            (item: string) => (
                <div class={styles.itemContainer}>
                    <div class={styles.index}>1</div>
                    <img src={item} class={styles.image} alt="" />
                </div>
            )
        }
    </Carousel>
</div>
